*{
    color: white
}

p{
    color: #000;
    margin: 0
}
body{
    margin: 0;
    padding: 0;
    overflow-y: hidden
}

header{
    width: 100%;
    background: #43A047;
    height: 50px
}

.header-container{
    height: 100%
}
.header-inner{
    text-align: center;
    height: 100%;
    -webkit-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.75)
}
.header-inner h1{
    margin: 0;
    font-size: 2.5rem;
    padding: 10px 0 10px;
    position: relative;
    right: 50px;
}

.send-container{
    width: 100%;
    position: relative;
    top: 50px
}

.send-inner{
    width: 100%;
    height: 50px;
    background: #fff;
    border-top: 1px solid #cccccc;
    position:absolute;
    bottom: 0;
    left: 0
}

.messages-container{
    overflow-y: scroll;
    overflow-x: hidden
}

.messages-inner{
    padding-top: 10px
}

.message{
    width: 96%;
    margin: 0 2%;
    float: left;
    clear: both;
    color: #000000;
}
.message-left{
    float: left;
    color: #000000;
}

.message-right{
    float: left;
    color: #000000;
    width: 80%;
    clear:left;
    margin: 0 10%;
}
.message.local{
    float: right
}
.message.local .message-left{
    float: right;
    text-align: right
}

.message.local .message-right{
    float: right;
    text-align: right;
    clear:right;
    margin-right: 10%
}

.message-content{
    color: #000000;
    background: #66BB6A;
    float: left;   
    padding: 2px 5px;
    border-radius: 5px
}

.message.local .message-content{
    float: right;
    background: #c2c2c2
}

#input_message{
    color: #000000;
    padding: 5px;
    height: 36px;
    margin: 7px 2%;
    width: 75%
}

#send_message{
    width: 15%;
    margin: 7px 0% 7px 0;
    height: 36px;
    border: 0;
    border-radius: 5px;
    background: #43A047
}

.send-inner form input{
    display: inline-block
}

.username, .timestamp{
    display: inline-block
}

.timestamp{
    margin-left: 15px;
    margin-right: 0
}

.message.local .timestamp{
    float:left;
    margin-right: 15px
}

.login-container{
    width: 100%;
    height: 100%
}

.login-inner{
    margin: 10% auto;
    max-width: 400px;
}
.login form label{
    color: #000;
    width: 100%;
    text-align: center;
    margin: 0
}
.login form input[type="text"]{
    width: 70%;
    margin: 10px 15% 0;
    color: #000;
    border-style: solid;
    border-color: #ccc
}
.login form input[type="submit"]{
    width: 30%;
    margin: 10px 35% 0;
}

#login_username_error{
    width: 70%;
    margin: 0 auto;
    display: none
}

#login_username_error p{
    color: red;
    font-size: 8pt;

}

#login_submit{
    color: #fff;
    background: #43A047;
    border-radius: 5px;
    border: 0
}
#login_submit[disabled]{
    background: #ccc;
    
}

.menu-button{
    float: left;
    width: 50px;
    height: 50px;
}

.menu-button i{
    color:#fff;
    font-size: 26pt;
    margin-top: 8px
}

.menu-button i:hover{
    cursor: pointer
}

.header-inner *{
    display: inline-block
}

.menu-container{
    background: #fff;
    position:relative;
    width: 250px;
    height: 100%;
    background: #fff;
    right: 250px;
    border-right: solid 1px #ccc;
    -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75)
}