*{
    color: white
}

p{
    color: #000;
    margin: 0
}
body{
    margin: 0;
    padding: 0;
    overflow-y: hidden
}

header{
    width: 100%;
    background: #43A047;
    height: 50px
}

.header-container{
    height: 100%
}
.header-inner{
    text-align: center;
    height: 100%;
    -webkit-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.75)
}
.header-inner h1{
    margin: 0;
    font-size: 2.5rem;
    padding: 10px 0 10px
}

.send-container{
    width: 100%;
    position: relative;
    top: 50px
}

.send-inner{
    width: 100%;
    height: 50px;
    background: #fff;
    border-top: 1px solid #cccccc;
    position:absolute;
    bottom: 0;
    left: 0
}

.messages-container{
    overflow-y: scroll;
    overflow-x: hidden
}

.messages-inner{
    padding: 10px
}

.message{
    width: 100%;
    float: left;
    clear: both;
    color: #000000;
}
.message-left{
    float: left;
    color: #000000;
}

.message-right{
    float: left;
    color: #000000;
    width: 85%;
    clear:left;
    margin-left: 10%;
}
.message.local{
    float: right
}
.message.local .message-left{
    float: right;
    text-align: right
}

.message.local .message-right{
    float: right;
    text-align: right;
    clear:right;
    margin-right: 10%
}

.message-content{
    color: #000000;
    background: #66BB6A;
    float: left;   
    padding: 2px 5px;
    border-radius: 5px
}

.message.local .message-content{
    float: right;
    background: #c2c2c2
}

#input_message{
    color: #000000;
    padding: 5px;
    height: 36px;
    margin: 7px 2%;
    width: 75%
}

#send_message{
    width: 15%;
    margin: 7px 0% 7px 0;
    height: 36px;
    border: 0;
    border-radius: 5px;
    background: #43A047
}

.send-inner form input{
    display: inline-block
}

.username, .timestamp{
    display: inline-block
}

.timestamp{
    margin-left: 15px;
    margin-right: 0
}

.message.local .timestamp{
    float:left;
    margin-right: 15px
}